header{
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3NrOTc5MS1pbWFnZS1rd3Z1amE5Ni5qcGc.jpg);
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}
header h1{
    font-weight: 2000;
}
header a{
    color: rgb(20, 220, 255)0, 217, 255);
}
header p{
    font-size: 20px;
    font-weight: 1000;
}
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    max-width: 50em;
    line-height: 1.5;
    padding: 2em 1em;
    margin: 0 auto;

}
h2{
    margin-top: lem; 
    padding-top: 1em;
}
footer{
    text-align: center;
    background-color: antiquewhite;
    padding: 3em;
}





.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #e80d0d
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #739aaf;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* I grabbed the buttons from online I haven't learned how to create that on my own yet. */